<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'
const addressBookStore = useAddressBookStore()
</script>

<template>
    <div>
            <button class="add" @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Add</button>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Tel</th>
                    <th>Operation</th>
                </tr>
                <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.name }}</td>
                    <td>{{ ad.gender }}</td>
                    <td>{{ ad.tel }}</td>
                    <td>
                        <button class="btn" @click="addressBookStore.edit(ad.id)">Edit</button>
                        <button  class="btn" @click="addressBookStore.remove(ad.id)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
</template>

<style scoped>
label,
select,
input,
button {
    font-family: 'Kanit';
    font-size: 20pt;
    margin: 5px;
}

table {
  border-collapse: collapse;
  width: 99%;
  margin: 5px;
  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ffd4c0}

th {
  background-color: #654d28;
  color: white;
}

.add{
    background-color: #77612e;
    border-color: #7e6c42;
}
.btn{
    background-color: #c2903f;
    border-color: #a55041;
}
button {
  width: 30%;
  color: white;
  padding: 8px 20px;
  margin: 3%;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #654d28;
}
</style>
