<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'
const addressBookStore = useAddressBookStore()
</script>

<template>
     <div v-if="addressBookStore.isAddNew">
            <div>
                <label for="name">Name: </label>
                <input type="text" id="name" v-model="addressBookStore.address.name"/>
            </div>
            <div>
                    <label for="gender">Gender: </label>
                    <select id="gender" v-model="addressBookStore.address.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
            </div>
            <div>
                    <label for="tel">Tel: </label>
                    <input type="text" id="tel" v-model="addressBookStore.address.tel"/>
            </div>
            <div>
                <button class="save" @click="addressBookStore.save()">Save</button>
                <button class="cancel" @click="addressBookStore.cancel()">Cancel</button>
            </div>

        </div>
</template>

<style scoped>
label,
select,
input,
button {
    font-family: 'Kanit';
    font-size: 16pt;
    margin: 3px;
}
input[type=text], select {
  width: 98%;
  padding: 12px 20px;
  margin: 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.save{
    background-color: #4caf75;
    border-color: #449c69;
}
.cancel{
    background-color: #c65f4d;
    border-color: #a55041;
}
button {
  width: 40%;
  color: white;
  padding: 14px 20px;
  margin: 5%;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #654d28;
}

div {
  border-radius: 5px;
  padding: 10px;
}
</style>
