<script setup lang="ts">
import DummyComponent from '@/components/DummyComponent.vue'
import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1', num1)
provide('num1Click', num1Click)
function num1Click() {
 num1.value++
  
}
</script>

<template>
<div style="text-align: center;">
  <img src="../assets/dog.png" alt="">
  <h3>Hello My Best Friend</h3>
  {{ num1 }}
  <DummyComponent />
</div>
</template>

<style>
img {
  width: 300px;
  border-radius: 50%;
}
</style>